<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= search_form_for @search, url: mypage_path(@user), html: { class: 'd-flex align-items-center' } do |f| %>
        <div class="flex-grow-1 me-2">
          <%= f.label :title_cont, "質問内容", class: "form-label fw-bold" %>
          <%= f.search_field :title_cont, class: "form-control", placeholder: "質問内容を検索" %>
        </div>
        <div>
          <%= f.submit "検索", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
