<h1><%= @user.name %>さんのマイページ</h1>
<div>
  <% @consultations.each do |consultation| %>
    <div>
      <%= link_to consultation.title, consultation_path(consultation) %>
      <p><%= truncate(consultation.message, length: 30) %></p>
      <!-- 削除ボタン -->
      <%= button_to "削除", consultation, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger", form: { class: "inline" } %>
    </div>
  <% end %>
</div>

