<%= render 'shared/search', search: @search, search_path: login_top_path %>
<% @consultations.each do |consultation| %>
  <div class="col-md-4">
    <div class="card" style="width: 50rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to consultation.title, consultation_path(consultation) %></h5>
        <p class="card-text"><%= truncate(consultation.message, length: 30) %></p>
      </div>
    </div>
  </div>
<% end %>