<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h6><%= pluralize(@user.errors.count, "つ") %> の項目を確認してください</h6>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>